/*1902*/

body {
  font-family: Marcher, Roboto, Arial;                                     
  font-size: medium;
  color: #e6e6e6;
  background-color: #1d1d1d;
  padding-top: 12px;
  display: flex;
  justify-content: center;
}

.header {
  font-size: large;
  font-weight: 700;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 20px;
  /* background-color: #373737; */
}

.divider-container {
  border-style: solid;
  border-color: #373737;
  border-width: 1px;
  margin-top: -1px;
  width: 360px;
  /* background-color: darkblue; */
}

.result-container {
  border-style: solid;
  border-color: #373737;
  border-width: 1px;
  margin-top: -1px;
  margin-left: -1px;
  width: 360px;
  /* background-color: crimson; */
}

.slider-container {
  display: grid;
  align-items: center;
  grid-template-columns: 300px;
  margin-left: 30px;
  margin-bottom: 24px;
  /* background-color: darkgreen; */
}

.slider-text-container {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #626262; */
}

.prefix {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: darkmagenta; */
}

.ev-result {
  margin-left: 30px;
  margin-top: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: medium;
  font-weight: 500;
  margin-bottom: 10px;
  /* background-color: darkslategrey; */
}

.new-shutterspeed-result {
  margin-left: 30px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: medium;
  font-weight: 500;
  margin-bottom: 28px;
  /* background-color: rgb(97, 34, 34); */
}
  
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 2px;
  background: #626262;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .15s;
  transition: opacity .15s;
  border-radius: 4px;
 }

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #f8f8f8;
  border-radius: 10px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 10px;
}

#newShutterspeed {
  color: #e7d57a;
  font-size: x-large;
  font-weight: 700;
}

.line-spacer {
  margin-bottom: 40px;
}